<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1049489506662-8a4vacu3habdi0qme3ks8qk9pfuf0dsn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049489506662-8a4vacu3habdi0qme3ks8qk9pfuf0dsn</string>
	<key>API_KEY</key>
	<string>AIzaSyCOng5kINn2PBOmni4sjVjgp8rqHlUO0QE</string>
	<key>GCM_SENDER_ID</key>
	<string>1049489506662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codeaamy.cambridgeapp</string>
	<key>PROJECT_ID</key>
	<string>cambridgewebsite-8dfa7</string>
	<key>STORAGE_BUCKET</key>
	<string>cambridgewebsite-8dfa7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049489506662:ios:4b1f4c12a0c6c1215608a7</string>
	<key>DATABASE_URL</key>
	<string>https://cambridgewebsite-8dfa7.firebaseio.com</string>
</dict>
</plist>